DOTSHIP_SQLITE_PATH=storage/dotship.sqlite
DOTSHIP_FORMSPREE_ENDPOINT=https://formspree.io/f/xwpbardz
DOTSHIP_ADMIN_EMAIL=admin@dotship.com
DOTSHIP_ADMIN_PASSWORD=Admin@1234
DOTSHIP_DEMO_EMAIL=demo@dotship.local
DOTSHIP_DEMO_PASSWORD=Demo@1234
DOTSHIP_SEED_DEMO=1